@import "tailwindcss";

@theme {
  --color-vibrant-yellow: #FFD93D;
  --color-vibrant-red: #FF6B6B;
  --color-vibrant-blue: #4D96FF;
  --color-vibrant-green: #6BCB77;
  --color-vibrant-purple: #9772FB;
  --color-vibrant-orange: #FF9F45;
  --color-vibrant-teal: #4ECDC4;
  --color-vibrant-shadow: #E5C12D;
  --color-vibrant-card-shadow: #D9D9D9;
}

body {
  background-color: var(--color-vibrant-yellow);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
